@import url('https://fonts.cdnfonts.com/css/panthera');
@import url('https://db.onlinewebfonts.com/c/87e0d5d6ba27de27e759ab254219b6b1?family=BEYNO');
@import url('https://fonts.cdnfonts.com/css/wakanda-forever');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --white-color:#FFFFFF;
    --light-pink:#F2CEF2;
    --light-purple:#9E91B7;
    --purple-color:#DF99F2;
    --gradient-blue-color:#3D2DA6;
    --blue-color:#07338C;
    --dark-blue-color:#021740;
}