@import url('https://fonts.cdnfonts.com/css/panthera');
@import url('https://db.onlinewebfonts.com/c/87e0d5d6ba27de27e759ab254219b6b1?family=BEYNO');
@import url('https://fonts.cdnfonts.com/css/wakanda-forever');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --white-color:#FFFFFF;
    --light-pink:#F2CEF2;
    --light-purple:#9E91B7;
    --purple-color:#DF99F2;
    --gradient-blue-color:#3D2DA6;
    --blue-color:#07338C;
    --dark-blue-color:#021740;
}
#navbar .menu a:hover{
  text-decoration: underline; 
  color:var(--purple-color);
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  #navbar .left-logo img {
    padding: 5px;
  }
  #navbar .menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: "BEYNO";
    font-size: 17px;
  }
  .footer {
    padding-left: 100px;
    display: flex;
    background-image: url('../Illustrations + Logo/All pages/back_footer.png');
  }
  

  .footer  .pages {
    margin: 20px;
    padding: 10px;
    color: var(--white-color);
    font-family: 'Cantarell';
    display:block;
  }
  
  ul {
    list-style: none;
  }
  li {
    margin: 20px;
  }
  .footer  .logo {
    margin: 20px;
    padding: 10px;
    color: var(--white-color);
    
  }
  .footer .cl-pg{
    letter-spacing: 28%;
    font-size: 22px;
  }
  .footer  .logo .find {
    margin: 20px;
    color: var(--white-color);
    font-family: 'Cantarell';
    letter-spacing: 28%;
    font-size: 22px;
  }
  .footer .logo .social {
    margin: 20px;
  }
  .footer .logo p {
    padding-top: 50px;
    color: var(--white-color);
    
  }

body{
    background-image: url('../Illustrations + Logo/All pages/arrière_plan.png'); 
}


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  #navbar {
    
    display: flex;
    background-image: url(..Assets/illustrationLog/Allpages/back_footer.png);
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    
  }
 
  #top-enigme {
    display: flex;
    flex-direction: column;
  }
  .enigme-1 {
    display: flex;
  }
  #top-enigme .left {
    width: 50%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #top-enigme .left .title {
    margin: 10px 0;
    text-decoration: none;
    font-family: "BEYNO";
    font-size: 68px;
    color: var(--light-pink);
  }
  
  #top-enigme .left .description {
    padding-top: 100px;
    background-image: url('../Illustrations + Logo/Enigme/Pantherenigme2.png');
    align-items: center;
    font-family: 'Cantarell',sans serif;
    font-size:16px;
    
  }
  
  .second-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .second-section .left {
    margin: 50px;
    width: 50%;
  }
  .second-section .left .title2 {
    font-family: 'Wakanda forever';
    font-size: 43px;
    color: white;
    margin-bottom: 20px;
  }
  .second-section .left p {
    margin-bottom: 10px;
    font-family: 'cantarell', sans-serif;
    font-size: 16px;
  }
  .second-section .right {
    padding-top: 100px;
    background-image: url('../Illustrations + Logo/Enigme/Pantherenigme2.png');
    background-position: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    width: 43%;
    background-repeat: no-repeat;
  }
  .second-section .right p {
    margin-bottom: 10px;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
  }
  
  .contact p {
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
  }
  

  .contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
    padding-left: 100px;
  }
  .contact p {
    margin: 20px;
  }
  .contact button {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 174px;
    height: 54px;
    background-color: var(--light-pink);
    border-radius: 38px;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  button:hover{
    background-color: 0 0 20 var(--light-pink);
  }
  .contact input {
    width: 520px;
    height: 56px;
    padding: 10px;
    border-radius: 38px;
    font-family: "Cantarell", sans-serif;
    font-size: 16px;
    
  }
